body {
  padding-top: 50px;
}

/*main block*/
#main{
  margin-top: 15px;
  background-color: #d3cccc;
  height: 400px;
}

/*about block*/
#about{
  margin-top: 15px;
  background-color: #d3cccc;
  height: 400px; 
}
